body {
  margin: 0;
  color: #1b120c;
  background-color: #fff;
  font-family: 'Helvetica', 'YuGothic' ,'YuGothicM', sans-serif;
}
a, p {
  margin: 0;
  color: #1b120c;
  text-decoration: none;
  font-size: 14px;
}
a {
  transition: 0.6s;
}
a:hover {
  opacity: .7;
}
h1 {
  margin: 0;
}
.top {
  height: 100vh;
  background-color: #000;
	background: url(../img/top.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
	}
.top_container {
	margin: 0 auto;
	position: relative;
  top: 33%;
}
.top_container p {
  margin: 24px 24px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.top_container .nextbtn {
  margin: 0 auto;
}
.top_logo {
  text-align: center;
}
.scrollbtn a {
  position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-decoration: none;
  padding-top: 70px;
}
.scrollbtn span {
	position: absolute;
	bottom: 110px;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb 1.5s infinite;
	animation: sdb 1.5s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@keyframes sdb {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
/* top */

.menu_top {
	background: url(../img/top.jpg) no-repeat fixed;
	background-position: center center;
	background-size: cover;
  height: 100vh;
}
.menu_top_container p {
  padding-top: 260px;
  margin: 24px 24px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 2em;
  letter-spacing: .1em;
}
.menu_top_container a {
  margin: 0 auto;
  font-weight: 500;
  letter-spacing: .1em;
}
/* contact & pay */

.about_top {
	background: url(../img/top.jpg) no-repeat fixed;
	background-position: center center;
	background-size: cover;
}
.menu_top_only_container p {
  padding: 120px 30px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 2em;
  letter-spacing: .1em;
}
.menu_top_only_container span {
  font-weight: bold;
  letter-spacing: .1em;
}
/* about */

.main {
  margin: 60px 48px;
}
.category_name {
  font-size: 16px;
  margin-left: 8px;
  font-weight: 500;
}
.card_container {
  display: flex;
  flex-flow: row wrap;
}
.card {
  margin: 0 8px;
}
.main .card img {
  width: 320px;
}
.main .card .name {
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 16px;
  font-weight: 500;
}
/* card */

.header {
  height: 60px;
  width: 100%;
  background-color: #1b120c;
  position: fixed;
  top: 0;
  z-index: 2
}
.header h1 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding-top: 21px;
  letter-spacing: .1em;
}

.header_ja {
  height: 60px;
  width: 100%;
  background-color: #1b120c;
  position: fixed;
  top: 0;
}
.header_ja h1 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding-top: 17px;
  letter-spacing: .1em;
}
.btn {
  display: block;
  width: 300px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #1b120c;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
}
.btn span{
  color: #FFF;
  position: relative;
  padding-left: 30px;
}
.btn span::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 7px;
  height: 7px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  margin-top: -5px;
}
.backbtn {
  display: block;
  position: absolute;
  top: 22px;
  left: 22px;
}
.backbtn span{
  color: #FFF;
  position: relative;
  padding-left: 30px;
}
.backbtn span::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 7px;
  height: 7px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(225deg);
  margin-top: -5px;
}
/* header */

.exhibitor {
  text-align: center;
}
.exhibitor_name {
  padding-top: 60px;
}
.exhibitor_introduction {
  font-size: 12px;
  color: #1b120c;
  margin-bottom: 24px;
}
.exhibitor_introduction a{
  text-decoration: underline;
}
.exhibitor_introduction span {
  font-weight: 500;
}
/* exhibitor */

.work {
  margin: 60px 160px;
}
.contents {
  display: flex;
  justify-content: space-between;
}
.work_img {
  padding-top: 60px;
  width: 50%;
  z-index: 1;
}
.work_img img {
  width: 100%;
}
.introduction {
  padding-top: 60px;
  width: 45%;
  letter-spacing: .1em;
}
.work_title {
  height: 36px;
}
.work_price {
  font-weight: bold;
  margin: 16px 0;
  font-size: 16px;
}
.work_description {
  margin-bottom: 40px;
  height: 168px;
}
.mail_description {
  margin-bottom: 40px;
}
.nextbtn {
  width: 200px;
  font-size: 20px;
  font-weight: 500;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:16px;
  color:#fff;
  background-color:#1b120c;
}

.flickity-prev-next-button {
  display: none;
}

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}
/* work */

.footer {
  background-color: #1b120c;
  text-align: center;
  width: 100%;
}
.footer_bottom {
  background-color: #1b120c;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footer_bottom_only {
  background-color: #1b120c;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footer a {
  font-size: 16px;
  color: #fff;
  letter-spacing: .1em;
}
.footer_menu {
  margin: 0;
  padding: 0;
}
.footer_menu li {
  list-style-type: none;
  padding: 20px 0;
  border-bottom: .01em solid #fff;
}
.copyright {
  color: #fff;
  padding: 20px 0;
  font-size: 8px;
  line-height: 3em;
}
.footer .copyright {
  padding: 20px 0;
  font-size: 8px;
  line-height: 3em;
}
.footer_bottom .copyright {
  padding: 20px 0;
  font-size: 8px;
  line-height: 3em;
}
.footer_bottom_only .copyright {
  padding: 20px 0;
  font-size: 8px;
  line-height: 3em;
}
/* footer */


@media screen and (max-width:480px) {
  .top_container {
  	margin: 0 auto;
  	position: relative;
    top: 37%;
  }
  .top_container img{
  width: 100%;
  }
  /* top */
  .main {
    margin: 30px 24px;
  }
  .category_name {
    margin-left: 0;
    font-weight: 500;
  }
  .card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    margin: 0;
  }
  .main .card img {
    width: 154px;
  }
  .main .card .name {
    margin-top: 8px;
    margin-bottom: 16px;
    font-weight: 500;
  }
  /* card */
  .work {
    margin: 0;
  }
  .contents {
    flex-direction: column;
  }
  .work_img {
    width: 100%;
    padding-left: 0;
  }
  .work_img img {
    width: 100%;
    display: block;
    height: auto;
  }
  .introduction {
    padding-top: 10px;
    margin: 0 auto;
    width: 90%;
  }
  .work_price {
    font-weight: bold;
    margin: 16px 0;
  }
  .work_description {
    margin-bottom: 60px;
    font-size: 14px;
    height: auto;
  }
  .mail_title {
    font-size: 14px;
  }
  .mail_description {
    margin-bottom: 60px;
    font-size: 14px;
  }
  .nextbtn {
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .flickity-page-dots {
      position: absolute;
      width: 100%;
      bottom: 16px;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      line-height: 1;
  }
  .footer_bottom_only {
    background-color: #1b120c;
    text-align: center;
    width: 100%;
    position: static;
  }

  /* work */
}
/* mediaquery */
